## Settings file was created by plugin BetterEmotes v1.5.3
## Plugin GUID: BetterEmotes

[Debug Settings]

## Time (in seconds) to wait before writing the same trace line, trace messages are very spammy
# Setting type: Single
# Default value: 1
Trace Delay = 1

## Whether or not to enable debug log messages, bepinex also needs to be configured to show debug logs
# Setting type: Boolean
# Default value: false
Debug = false

## Whether or not to enable trace log messages, bepinex also needs to be configured to show debug logs
# Setting type: Boolean
# Default value: false
Trace = false

## Whether or not to disable speed changes that might affect other mods
# Setting type: Boolean
# Default value: false
Disable Speed Changed = false

## Whether or not to disable overriding the player model, can help with conflicting mods
# Setting type: Boolean
# Default value: false
Disable Self Emote = false

[Emote Controller Bindings]

## Default controller binding for the Middle_Finger emote
# Setting type: String
# Default value: 
Middle_Finger Button = 

## Default controller binding for the Clap emote
# Setting type: String
# Default value: 
Clap Button = 

## Default controller binding for the Shy emote
# Setting type: String
# Default value: 
Shy Button = 

## Default controller binding for the Griddy emote
# Setting type: String
# Default value: 
Griddy Button = 

## Default controller binding for the Twerk emote
# Setting type: String
# Default value: 
Twerk Button = 

## Default controller binding for the Salute emote
# Setting type: String
# Default value: 
Salute Button = 

## Default controller binding for the Prisyadka emote
# Setting type: String
# Default value: 
Prisyadka Button = 

## Default controller binding for the Sign emote
# Setting type: String
# Default value: 
Sign Button = 

## Default controller binding for the sign submit
# Setting type: String
# Default value: <Gamepad>/buttonWest
Sign Submit Button = <Gamepad>/buttonWest

## Default controller binding for the sign cancel
# Setting type: String
# Default value: <Gamepad>/buttonEast
Sign Cancel Button = <Gamepad>/buttonEast

## Default controller binding for the emote wheel
# Setting type: String
# Default value: <Gamepad>/leftShoulder
Emote Wheel Button = <Gamepad>/leftShoulder

## Default controller binding for the emote wheel next page
# Setting type: String
# Default value: <Gamepad>/dpad/right
Emote Wheel Next Page Button = <Gamepad>/dpad/right

## Default controller binding for the emote wheel next page
# Setting type: String
# Default value: <Gamepad>/dpad/left
Emote Wheel Previous Page Button = <Gamepad>/dpad/left

## Default controller binding for the emote wheel movement
# Setting type: String
# Default value: <Gamepad>/rightStick
Emote Wheel Move = <Gamepad>/rightStick

## Default controller deadzone for emote selection
# Setting type: Single
# Default value: 0.25
Emote Wheel Deadzone = 0.25

[Emote Keys]

## Default keybind for the Middle_Finger emote
# Setting type: String
# Default value: <Keyboard>/3
Middle_Finger Key = <Keyboard>/3

## Default keybind for the Clap emote
# Setting type: String
# Default value: <Keyboard>/4
Clap Key = <Keyboard>/4

## Default keybind for the Shy emote
# Setting type: String
# Default value: <Keyboard>/5
Shy Key = <Keyboard>/5

## Default keybind for the Griddy emote
# Setting type: String
# Default value: <Keyboard>/6
Griddy Key = <Keyboard>/6

## Default keybind for the Twerk emote
# Setting type: String
# Default value: <Keyboard>/7
Twerk Key = <Keyboard>/7

## Default keybind for the Salute emote
# Setting type: String
# Default value: <Keyboard>/8
Salute Key = <Keyboard>/8

## Default keybind for the Prisyadka emote
# Setting type: String
# Default value: <Keyboard>/9
Prisyadka Key = <Keyboard>/9

## Default keybind for the Sign emote
# Setting type: String
# Default value: <Keyboard>/0
Sign Key = <Keyboard>/0

## Default keybind for the sign submit
# Setting type: String
# Default value: <Keyboard>/enter
Sign Submit Key = <Keyboard>/enter

## Default keybind for the sign cancel
# Setting type: String
# Default value: <Mouse>/rightButton
Sign Cancel Key = <Mouse>/rightButton

## Default keybind for the emote wheel
# Setting type: String
# Default value: <Keyboard>/v
Emote Wheel Key = <Keyboard>/v

## Default keybind for the emote wheel next page
# Setting type: String
# Default value: <Mouse>/scroll/up
Emote Wheel Next Page Key = <Mouse>/scroll/up

## Default keybind for the emote wheel next page
# Setting type: String
# Default value: <Mouse>/scroll/down
Emote Wheel Previous Page Key = <Mouse>/scroll/down

[Emote Settings]

## Speed of griddy relative to regular speed
# Setting type: Single
# Default value: 0.5
Griddy Speed = 0.5

## Speed of Prisyadka relative to regular speed
# Setting type: Single
# Default value: 0.34
Prisyadka Speed = 0.34

## Time (in seconds) to wait before being able to switch emotes
# Setting type: Single
# Default value: 0.2
Cooldown = 0.2

## Time (in seconds) to wait before being able to finish typing (was hard coded into MoreEmotes)
# Setting type: Single
# Default value: 0.1
Sign Text Cooldown = 0.1

## Whether or not to stop emoting when mousing to outside the emote wheel
# Setting type: Boolean
# Default value: false
Stop on outer = false

[Enabled Emotes]

## Toggle Dance emote key
# Setting type: Boolean
# Default value: true
Enable Dance = true

## Toggle Point emote key
# Setting type: Boolean
# Default value: true
Enable Point = true

## Toggle Middle_Finger emote key
# Setting type: Boolean
# Default value: true
Enable Middle_Finger = true

## Toggle Clap emote key
# Setting type: Boolean
# Default value: true
Enable Clap = true

## Toggle Shy emote key
# Setting type: Boolean
# Default value: true
Enable Shy = true

## Toggle Griddy emote key
# Setting type: Boolean
# Default value: true
Enable Griddy = true

## Toggle Twerk emote key
# Setting type: Boolean
# Default value: true
Enable Twerk = true

## Toggle Salute emote key
# Setting type: Boolean
# Default value: true
Enable Salute = true

## Toggle Prisyadka emote key
# Setting type: Boolean
# Default value: true
Enable Prisyadka = true

## Toggle Sign emote key
# Setting type: Boolean
# Default value: true
Enable Sign = true

