## Settings file was created by plugin ReservedSprayPaintSlot v1.1.1
## Plugin GUID: FlipMods.ReservedSprayPaintSlot

[Client-side]

## Extends the max capacity of spraypaint cans by this multiplier. This setting will soon be host only, and will sync with all non-host clients.
# Setting type: Single
# Default value: 10
SprayPaintCapacityMultiplier = 10

[Server-side]

## Manually set the priority for this item slot. Higher priority slots will come first in the reserved item slots, which will appear below the other slots. Negative priority items will appear on the left side of the screen, this is disabled in the core mod's config.
# Setting type: Int32
# Default value: 25
SprayPaintPriorityOverride = 25

## Manually set the price for this item in the store. Setting 0 will force this item to be unlocked immediately after the game starts.
# Setting type: Int32
# Default value: 50
SprayPaintSlotPriceOverride = 50

## Syntax: "Item1,Item name2" (without quotes). When adding items, use the item's name as it appears in game. Include spaces if there are spaces in the item name. Adding items that do not exist, or that are from a mod which is not enabled will not cause any problems.
## NOTE: IF YOU ARE USING A TRANSLATION MOD, YOU MAY NEED TO ADD THE TRANSLATED NAME OF ANY ITEM YOU WANT IN THIS SLOT.
# Setting type: String
# Default value: 
AdditionalItemsInSlot = 

